# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
target/
build/
.next/
out/

# Environment Variables
.env
.env.local
.env.*.local

# Logs & Databases
*.log
mongo-data/

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
